body {
    margin: 0;
    background-color: #fff;
    color: #0F172A;
}

.logo {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    line-height: 110%;
    margin: 0;
}

option{
    color: #000;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.header_list {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    display: flex;
    gap: 8px;
    font-size: 16px;
}

.item {
    padding: 12px 8px;
    line-height: 24px;
}

select {
    border: 0;
    width: 24px;
    height: 24px;
}

.arrow {
    cursor: pointer;
}

.authorization {
    display: flex;
    gap: 16px;
}

.link {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: #2563eb;
    line-height: 24px;
}

.log_in {
    padding: 12px 8px;
}

.header_button {
    background-color: #2563eb;
    color: #fff;
    border: 0;
    border-radius: 8px;
    padding: 12px;
    line-height: 24px;
    cursor: pointer;
}

button:hover {
    background-color: #1d51c2;
}

.sign_up {
    padding: 0 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.container_block1 {
    padding: 80px;
    display: flex;
    gap: 80px;
}

.left_block1 {
    padding: 24px 0;
}

.text_block1 {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 72px;
    line-height: 110%;
    margin: 0;
}

.img_block1 {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 160%;
    margin: 0;
}

.email_block1 {
    padding: 24px 0;
    display: flex;
    gap: 16px;
    white-space: nowrap;
}

::placeholder {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #475569;
    line-height: 140%;
}

.email_input {
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid #CBD5E1;
    width: 100%;
}

.email_button {
    background-color: #2563eb;
    color: #fff;
    border: 0;
    border-radius: 8px;
    padding: 12px;
    line-height: 24px;
    cursor: pointer;
}

.companies {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.container_block2 {
    padding: 80px;
    display: flex;
    gap: 80px; 
}

h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 56px;
    line-height: 110%;
    margin: 0;
}

.left_block2 {
    display: flex;
    white-space: nowrap;
    gap: 16px;
}

.img1_block2 {
    margin-top: 80px;
    border-radius: 20px;
    height: 384px;
}

.img2_block2 {
    margin-top: 0;
    border-radius: 20px;
    height: 384px;
}

.img3_block2 {
    margin-top: 40px;
    border-radius: 20px;
    height: 384px;
}

.right_block2 {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.container_block3 {
    padding: 80px 80px 160px;
    display: flex;
    gap: 128px; 
}

.left_block3 {
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.container_block4 {
    padding: 0 80px;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 24px;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 80px;
    border-radius: 30px;
}

.card_title {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 56px;
    line-height: 110%;
}

.card_text {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 160%;
    margin: 0;
}

.card_button {
    background-color: #2563eb;
    color: #fff;
    border: 0;
    border-radius: 8px;
    padding: 20px 45px;
    line-height: 24px;
    cursor: pointer;
    margin: 0 auto;
}

.card_btn_text {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 24px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}

.left_footer {
    display: flex;
    gap: 10px;
    line-height: 140%;
}

.footer_logo {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    color: #0F172A;
    line-height: 110%;
}

.rights {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.footer_list {
    display: flex;
    gap: 24px;
    line-height: 140%;
}

.resource {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-decoration: none;
    color: #475569;
}